.homepage-menu
  .navbar-brand
    text-transform: uppercase
    font-size: 14px
    font-weight: normal
    color: $text-black
    &:hover
      color: $accent-color
      @include mappy-bp(screen-sm-min)
        background-color: $lighter-grey
  .products-link
    padding: 15px
    float: left
    @include mappy-bp(screen-sm-min)
      line-height: 45px
      height: 70px
      cursor: pointer
    @include mappy-bp(screen-md-min)
      line-height: 20px
      height: 50px

.products-list
  width: 100%
  .pagination
    display: none
  .prev-page-button
    width: 5%
    height: 100%
    text-align: left
    .prev-page
      height: 100%
      width: 100%
      font-size: 30px
      font-weight: bolder
      display: inline-block !important
  .products-list-content
    width: 90%
  .next-page-button
    width: 5%
    height: 100%
    text-align: right
    .next-page
      height: 100%
      width: 100%
      font-size: 30px
      font-weight: bolder
      display: inline-block !important
