
// Borders
$laravel-border-color: darken(#f8f8f8, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands from Bootstrap
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$white: #fff;
$lightest-grey: #f4f4f4;
$lighter-grey: #e8e8e8;
$dark-grey: #333;
$black: #000;
$accent-color: #B73528;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: $white;

// Buttons
$btn-default-color: $text-color;

// Links
$text-black: $black;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: $white;

// Mappy breakpoints
$breakpoints: (
  'screen-mini-min': 320px,
  'screen-xs-min': 480px,
  'screen-sm-min': 768px,
  'screen-md-min': 992px,
  'screen-lg-min': 1200px
);
