.header
  border-bottom: solid 1px $accent-color
  .navbar-toggle
    border-color: $dark-grey
    .menu-txt
      display: inline-block
      color: $text-black
    .icon-grp
      display: inline-block
    .icon-bar
      background-color: $dark-grey
    &:hover, &:focus
      background-color: $dark-grey
      color: $white
    &:hover .menu-txt, &:focus .menu-txt
      color: $white
    &:hover .icon-bar, &:focus .icon-bar
      background-color: $white
    &.collapsed
      .menu-txt
        color: $text-black
        &:hover
          color: $text-black
      &:hover .menu-txt
        color: $white
      &:hover .icon-bar
        background-color: $white
      &:focus .icon-bar, &:active .icon-bar
        background-color: $dark-grey
      &:focus, &:active
        background-color: $white
        color: $text-black
      &:focus .menu-txt, &:active .menu-txt
        color: $text-black
    &.mobile-deactivated
      &:focus .icon-bar, &:active .icon-bar, &:hover .icon-bar
        background-color: $dark-grey
      &:active, &:hover, &:focus
        background-color: $white
