.main-menu-bar-wrap
  position: relative
  background-color: $lightest-grey
  .container
    padding-left: 0
    padding-right: 0
    @include mappy-bp(screen-sm-min)
      padding-left: 15px
      padding-right: 15px
  .main-menu-bar
    @include mappy-bp(screen-sm-min)
      padding-top: 30px
  .navbar
    margin-bottom: 0
  .navbar-header
    position: relative
  .navbar-toggle
    .menu-txt
      margin-right: 5px
  .navbar-brand
    text-transform: uppercase
    font-size: 14px
    font-weight: normal
    color: $text-black
    &:hover
      color: $accent-color
      @include mappy-bp(screen-sm-min)
        background-color: $lighter-grey
    &.logo
      position: absolute
      left: 15px
      top: 8px
      width: 40px
      height: 40px
      background-image: url('/images/solvelution_mini_logo.png')
      background-repeat: no-repeat
      background-size: cover
      text-indent: -9999px

  .products-link
    padding: 15px
    float: left
    @include mappy-bp(screen-sm-min)
      margin-top: 40px
      line-height: 45px
      height: 70px
      cursor: pointer
    @include mappy-bp(screen-md-min)
      line-height: 20px
      height: 50px
  #main-menu-bar-navbar-collapse
    text-align: center
  .navbar .nav
    float: none
    display: block
    @include mappy-bp(screen-sm-min)
      display: inline-block
      margin-bottom: -5px
    li
      width: 100%
      text-align: center
      @include mappy-bp(screen-sm-min)
        max-width: 19.666666666667%
        width: 100px
        margin-top: 40px
      @include mappy-bp(screen-md-min)
        width: 140px
      a
        text-transform: uppercase
        color: $text-black
        &:hover
          color: $accent-color
          background-color: $lighter-grey
    li.logo
      @include mappy-bp(screen-sm-min)
        min-width: 136px
        text-align: center
        margin-top: 5px
        margin-bottom: -5px
        &:hover
          background-color: $lightest-grey
      @include mappy-bp(screen-sm-min 992px)
        padding-top: 19px
        margin-top: 8px
        margin-bottom: -5px
      a
        width: 136px
        height: 136px
        margin-bottom: -50px
        background: $lightest-grey url('/images/solvelution_logo.png') no-repeat
        background-size: cover
        border-radius: 50%
        span
          display: inline-block
          text-indent: -9999px
    li .dropdown-menu li
      background-color: $white
