.top-utility-bar
  &.navbar
    margin-bottom: 5px
  .navbar-toggle
    .menu-txt
      margin-left: 5px
  .navbar-collapse.in
    overflow-y: visible
  a
    text-transform: uppercase
    color: $text-black
    &:hover
      color: $accent-color

  .my-local-causes-link
    display: none
    @include mappy-bp(screen-sm-min)
      display: block
      padding: 15px
      float: left
      width: 125px
      height: 50px
      background: url('/images/my-local-causes_icon.png') top left no-repeat
      background-position: 5px
      font-size: 10px
      font-weight: bold
      line-height: 1
      position: relative
      span
        display: inline-block
        width: 65px
        position: absolute
        top: 15px
        left: 45px
        text-align: center

.top-utility-bar__right-items
  @include mappy-bp(screen-sm-min)
    float: right
  .navbar-nav li
    text-align: center

.top-utility-bar__search
  @include mappy-bp(screen-sm-min)
    float: left
    padding: 8px 0
  @include mappy-bp(screen-sm-min 992px)
    width: 265px
    margin-right: 15px
  @include mappy-bp(screen-md-min)
    width: 485px
    margin-right: 15px

.top-utility-bar__adv-search
  margin-top: -1px
  padding: 6px 20px
  @include mappy-bp(screen-sm-min)
    width: 485px
  .form-horizontal .form-group
    margin-left: 15px
    margin-right: 15px
